:root {
  --gray: #e5e5e5;
  --blue: #021a84;
  --white: #ffffff;
  --green-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #2ada66;
  --greentext: green;
  --blue-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #021a84;
  --red-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #e5532a;
  --redtext: #e5532a;
  --whitegray: #e5e5e5;
}
html body {
  font-family: "Inter", sans-serif;
}
.app {
  max-width: 1440px;
  width: 100%;
  height: 100%;
}
