/* start-header */
.header {
  width: 100%;
  height: 80px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 140px;
}
.header-nav__logo {
  width: 190.43px;
  height: 40px;
}
.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header-list__iteam {
  width: 149px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: 500;
}
.btn-login {
  background-color: var(--blue);
  color: var(--white);
}
.btn-signin {
  border: 1px solid var(--blue);
  color: var(--blue);
}
.btn-job {
  color: black;
}
/* search */
.wapper {
  padding: 40px 140px;
  background-color: var(--whitegray);
}
.form-layout {
  padding: 12px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  width: 1160px;
  height: 70px;
  gap: 12px;
  border-radius: 16px;
}
.form-input,
.form-search__left,
.input-posision {
  display: flex;
  align-items: center;
}
.search__btn-left {
  width: 18px;
  height: 18px;
}
.input-choice {
  width: 15.8px;
  height: 7.1px;
}
.form-input__img {
  width: 15px;
  height: 18px;
}
.form-search__left {
  width: 688px;
  height: 51px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--white);
  border-radius: 8px;
}
.form-input {
  height: 51px;
  width: 271px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: var(--white);
  justify-content: space-between;
}
.button-search {
  width: 149px;
  height: 44px;
  padding: 8px 34px;
  border-radius: 8px;
  background: #021a84;
}
.button-search__item {
  font-weight: 500;
  color: var(--white);
}
.form-input__posision,
.form-search__input {
  border: none;
  outline: none;
  margin-left: 8.5px;
}
/* list-sugger */
.sugger-wapper {
  margin: 16px 0;
  display: flex;
  align-items: center;
}
.sugger-text {
  color: var(--blue);
}
.sugger-list {
  padding: 4px 8px;
  color: rgba(2, 26, 132, 1);
  border-radius: 8px;
  margin-left: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  list-style: none;
  line-height: 20px;
}
/* phan-job-name */
.menu-job {
  margin-top: 87px;
}
.menu-job__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  height: 67px;
}
.job-title {
  display: flex;

  align-items: center;
}
.job-title__padding {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
  width: 67px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 12.3421px 30px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
}
.job-title__padding-inside {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  width: 53px;
  height: 53px;
  border-radius: 50%;
}

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  color: var(--blue);
}

.job__title {
  width: 67px;
  height: 67px;
  padding: 70.5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}
.job-see {
  width: 131px;
  height: 44px;
  border-radius: 50%;
  font-weight: 500;
  padding: 8px 16px;
  color: var(--blue);
}
/* phan-list job */
.container {
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.container-card {
  padding: 16px;
  width: 360px;
  height: 156px;
  background-color: var(--white);
  border-radius: 16px;
  border: 16px;
}
.card-head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
  padding-bottom: 8px;
  align-items: center;
}
.card-headLogo {
  display: flex;
  gap: 8px;
}
.head-logo {
  width: 32px;
  height: 32px;
}
.head-name {
  color: var(--blue);
  font-weight: 500;
  line-height: 1;
}
.card-button {
  width: 66px;
  height: 24px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--whitegray);
}
.card-button__full {
  color: var(--blue);
  font-size: 12px;
  font-weight: 400;
}
.card-body {
  width: 100%;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.card-body::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50% 50%);
  width: 1px;
  height: 16px;
  border: 1px solid var(--whitegray);
}
.money-name {
  color: rgba(2, 26, 132, 1);
}
.money-vailua {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
span {
  opacity: 0.7;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.card-foot {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 24px;
}
.foot-left {
  display: flex;
  justify-content: space-between;
  width: 169px;
  height: 24px;
}
.foot-left__button,
.foot-right {
  width: 71px;
  height: 24px;
  text-align: center;

  border-radius: 8px;
}
.foot-left__button {
  background-color: rgba(242, 242, 242, 1);
}
.foot-buton {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--blue);
  text-align: center;
}
.foot-right {
  width: 89px;
  height: 24px;
  background-color: rgba(254, 76, 76, 1);
}

.foot-right__button {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  color: white;
}
.aside {
  padding: 80px 0;
}
.aside-header {
  text-align: center;
  padding-bottom: 40px;
}
.aside-header___link,
.aside-title {
  color: var(--blue);
}

.aside-body {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.aside-section {
  width: 365px;
  height: 278px;
  border-radius: 16px;
  padding: 32px;
  text-align: center;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title {
  margin-top: 16px;
}
.aside-section__red {
  background: var(--red-gradient);
  color: var(--redtext);
}
.aside-section__blue {
  background: var(--blue-gradient);
  color: var(--blue);
}
.aside-section__green {
  background: var(--green-gradient);
  color: var(--greentext);
}
.section-text {
  font-size: 15px;
}
.section-title {
  font-size: 18px;
}
.partner {
  /* width: 100%;
  height: 145px; */
  margin: 80px;
}
.partner-name {
  color: var(--blue);
  margin: 0 auto;
  text-align: center;
}
.partner-list {
  margin-top: 48px;
  display: flex;
  justify-content: space-around;
}
.partner-iteam {
  width: 156px;
  height: 156px;
  padding: 8;
  border-radius: 16px;
  background-color: #fff;
  padding: 8px;
}
/* cooperate */
.cooperate {
  /* width: 100%;
  height: 355px; */
  margin-top: 88px;
}
.cooperate-header {
  text-align: center;
}
.cooperate-link,
.cooperate-title {
  color: #021a84;
}

.cooperate-list {
  padding-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.cooperate-iteam {
  width: 300px;
  height: 238px;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cooperate-iteam__number {
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
}
.cooperate-iteam__img {
  width: 102px;
  height: 99px;
}
.cooperate-iteam__title {
  font-size: 18px;
}
.cooperate-iteam__text {
  font-size: 14px;
}
